@import 'tailwindcss/preflight';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
  :root {
  }

  .dark {
    --background: oklch(14.1% 0.005 285.823);
    --foreground: oklch(98.5% 0 0);

    --card: oklch(21% 0.006 285.885);
    --card-foreground: oklch(96.9% 0 0);

    --information: oklch(52.5% 0.223 3.958);
    --information-foreground: oklch(96.9% 0 0);

    --primary: oklch(62.3% 0.214 259.815);
    --primary-foreground: oklch(96.9% 0 0);

    --secondary: oklch(51.1% 0.262 276.966);
    --secondary-foreground: oklch(96.9% 0 0);

    --tertiary: oklch(49.1% 0.27 292.581);
    --tertiary-foreground: oklch(96.9% 0 0);

    info, success, warning, error, text
  }
}
